
/*Estilos Generales de Hoy BY JEQD*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{

    
    color: #211922;
    /* font-family: 'Oxygen', sans-serif; */
    font-weight: bold;
}

nav {
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    height: 80px;
    /* position: fixed; */
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    position: fixed;
    /* margin-bottom: 60px; */
    /* bottom: 0px; */
    z-index: 1;
}

.nav_icon,
.nav_inicio,
.nav_siguiendo {
    flex: 0 0 auto;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_inicio,
.nav_siguiendo {
    padding-left: 16px;
    padding-right: 16px;


}

.nav_siguiendo {
    background-color: #333;
    color: #fff;
    border-radius: 24px;
    margin-right: 10px;
}

.nav_inicio:hover {
    background-color: #efefef;
    color: #333;
    border-radius: 24px;
    font-size: 16px;

}

nav a {
    color: inherit;
}


.nav_icon {
    fill: #e60023;
    width: 48px;
}

.nav_input {
    flex: 1 1 auto;
    display: flex;
    border-radius: 24px;
    height: 48px;
    min-width: 400px;
    background-color: #efefef;
    align-items: center;
    fill: #767676;
    color: #767676;

}

.lupa {
    flex: 0 0 auto;
    /* display: flex; */
}

.lupa svg {
    /* padding-left: 16px; */
    margin-left: 16px;
    margin-right: 8px;
}

input {
    flex: 0 0 auto;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #767676;
    font-size: 16px;
}

.nav_input:hover {
    background-color: rgb(225, 225, 225);
}

input:focus {
    outline-style: none;
}

.nav_icons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    fill: #767676;
    margin-left: 10px;
    cursor: pointer;


}

.nav_icons div {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_icons div:hover {
    background-color: #efefef;
    border-radius: 50%;

}

/* .nav_icons div:active {
    border-color: aqua;


} */

.nav_icons img {
    height: 24px;
    width: 24px;
    border-radius: 50%;

}

.nav_bell {
    position: relative;
}

#notificacion {
    position: absolute;
    background-color: #e60023;
    height: 18px;
    width: 18px;
    font-size: 12px;
    right: 4px;
    top: 4px;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;

}

.nav_icons  a:active {
    border-radius: 50%;

    border: 3px solid rgb(127,193,255);
    /* background-color: #111; */
}

#titulos{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#parrafo_1{
    font-size: 20px;
    margin-bottom: 0px;

}

#parrafo_2{
    font-size: 36px;
    margin-top: 10px;
}

/*Estilos Generales del collage Hoy BY JEQD*/

.collage{
    display: flex;
    flex-direction: row;
    /* width: 50%; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.columna1{
    margin-right: 20px;
        
}

.imagen_1{
    width: 408px;
    height: 706px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);  
}

.imagen_2{
    width: 408px;
    height: 325px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.imagen_3{
    width: 408px;
    height: 490px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.video{
    width: 408px;
    height: 325px; 
    margin-bottom: 20px;
    border-radius: 20px;       
}

#titulos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.collage img{
    width: 408px;
    border-radius: 20px 20px 0px 0px;
}

.collage p{
    display: flex;
    justify-content: center;
}

.imagen_2 img{
    height: 260px;
}


@media screen and (max-width: 1024px) {
    .nav_icon,
    .nav_inicio,
    .nav_siguiendo
    
    {
        display: none;
    }

    .nav_icons .nav_bell{
        display: none;
    }

    .nav_icons .nav-profile{
        display: none;
    }

    .nav_icons .nav_arrow{
        display: none;
    }

    .nav_input{
        min-width: 100px;
    }

}

