* {
    box-sizing: border-box;
    margin: 0;
}




.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;

}

.container2 {

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 7% auto 7%;
}

.chat {
    background-color: peru;
    display: flex;
    flex-direction: column;
}

.chat-search {
    padding: 20px;
}

.chat input {
    /* margin: 0 20px; */
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 100%;
    display: block;
    /* margin: 2px; */
}

.chat-title {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-title div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-title .icons {
    display: flex;
    background-color: purple;
}

.miniChats {
    display: inline-flex;
    margin: 10px;
}

.element1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: orangered;
}

.element2 {
    background: slategray;
}

.element3 {
    background-color: teal;
    grid-column: 2/3;
    grid-row: 2/4;
}

.element4 {


    background-color: orange;
}

.element5 {
    background-color: palegreen;
}